.eventos-destacados {
    padding: 2rem;
  }
  
  .eventos-destacados h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .lista-eventos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .evento-item {
    background-color: skyblue;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 8px;
    width: 300px;
  }
  
  .evento-item h3 {
    color: black;
    margin-bottom: 0.5rem;
  }
  
  .evento-item a {
    color: green;
    text-decoration: none;
  }

  .boton :hover{
    background-color: skyblue;
    border-color: aqua;
    
  }
  
  