.heroe {
    background-image: url('../Imagenes/plaza.jpg');
    background-size: cover;
    background-position: center;
    color: yellow;
    font-family: serif,sans-serif, Courier, Courier, monospace;
    text-align: center;
    padding: 10rem 0;
    
  }
  
  .heroe-contenido {
    background-color: rgba(4, 12, 17, 0.7); /* Oscurecer el contenido */
    padding: 2rem;
    border-radius: 10px;
  }

  
  
  
  

  